$bodyColor: #dddddd;
$heroColor: #6d6c69;
$mainColor: #ed5d40;
$secondaryColor: #000000;
$flavorColor: #0000ee;

//fontColor
$font-main-color: #e0dfdbe8;
$font-highlight: #00af83e8;
$highlightColor: #ffdede;
$articleColor: #141414;
$buttonColor: #292a2b;
$text-color: #c8c7c3;
//hover color
$buttonHoverColor2: #333333;
