//font-family
$main-font: "poppins", sans-serif;
$title-font: "open-sans", sans-serif;

//font sizes
$sm: 18px;
$med: 28px;
$lar: 75px;
//phone font sizes
$phn-sm: 15px;
$phn-med: 22px;
$phn-lar: 43px;
//med
$med-header: 38px;
//title size
$sm-title: 27px;
$med-title: 49px;
$lar-title: 90px;
$sub-title: 32px;
$tab-title: 65px;
//article size
$article: 21px;
//
$button-text: 65px;
