#information {
  .information {
    @include grid;
    padding: 50px;
    @include media(phone-only) {
      padding: 20px;
    }
    @include media(tablet-portrait) {
      padding: 30px;
    }
    @include media(laptop) {
      padding: 30px 40px;
    }
    .info__title {
      grid-column: 1/13;
    }
    .info__subTitle {
      grid-column: 1/13;
      padding: 20px 0px;
      padding-right: 30%;
      @include media(tablet-portrait) {
        padding-bottom: 50px;
        padding-right: 0%;
      }
      @include media(phone-only) {
        padding-right: 0%;
      }
    }
    .discription {
      grid-column: 1/13;
      padding: 40px 30px 30px 38%;
      @include media(phone-only) {
        padding: 25px 0px;
      }
      @include media(tablet-portrait) {
        margin-bottom: 40px;
        padding: 20px 40px;
      }
      & p:nth-child(2) {
        margin-top: 30px;
        @include media(phone-only) {
          margin-top: 10px;
        }
      }
    }
    a {
      @include media(phone-only) {
        grid-column: 1/13;
      }
      grid-column: 6/12;
      width: 400px;
    }
  }
}
