#skills {
  height: 75em;
  width: 100%;
  padding: 160px 0px 120px 0px;
  background-color: $mainColor;
  position: relative;
  @include media(tablet-portrait) {
    height: 55em;
    padding: 100px 0px;
  }
  @include media(laptop) {
    height: 155vh;
    padding: 60px 0px;
  }
  @include media(desktop) {
    height: 160vh;
    padding: 100px 0px;
  }
  @include media(phone-only) {
    height: 40em;
    padding: 60px 0px;
  }
  .skills__container {
    padding-left: 200px;
    padding-right: 60px;
    text-align: right;
    @include media(tablet-portrait) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media(laptop) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include media(phone-only) {
      padding-left: 20px;
      padding-right: 20px;
      margin: 10px 0px;
    }
    .unreadable {
      @include media(phone-only) {
        width: 50px;
        height: 50px;
      }
    }
    .readable{
      @include media(phone-only) {
        width: 70px;
        height: 70px;
      }
    }
  }
}
.panel {
  display: none;
  overflow: hidden;
  padding: 20px 0px;
  text-align: left;
  p {
    font-size: 20px;
    font-weight: 400;
    @include media(phone-only) {
      font-size: $phn-sm;
    }
  }
  @include media(phone-only) {
    padding: 0px;
  }
  &.show {
    display: block;
  }
}
