#Solution {
  position: relative;
  width: 100%;
  background-color: $buttonColor;
  padding: 200px 0px;
  @include media(tablet-portrait) {
    padding: 100px 0px;
  }
  @include media(phone-only) {
    padding: 80px 0px;
  }
  .solution__container {
    padding-left: 107px;
    padding-right: 100px;
    @include grid;
    @include media(tablet-portrait) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media(laptop) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media(phone-only) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .solution__title {
      grid-column: 1/13;
      margin-bottom: 50px;
      @include media(phone-only) {
        margin-bottom: 20px;
        grid-column: 1/13;
      }
    }
    .solution__article {
      grid-column: 7/13;
      margin: 10px 0px;
      line-height: 1.2;
      @include media(phone-only) {
        font-size: $sm;
        margin-right: 0px;
        width: 100%;
        grid-column: 1/13;
      }
    }
    .callToAction {
      grid-column: 7/13;
      height: 7rem;
      @include media(laptop) {
        width: 450px;
      }
      @include media(phone-only) {
        grid-column: 1/13;
      }
    }
  }
}
