.title {
  text-align: center;
  font-size: $med;
  font-weight: 600;
  font-family: $main-font;
  flex-grow: 0.5;
  @include media(phone-only) {
    text-align: center;
    margin-left: 0px;
    font-size: $phn-med;
    font-weight: 600;
  }
  @include media(tablet-portrait) {
    font-size: $phn-med;
    font-weight: 600;
    // margin-left: 25px;
  }
  @include media(desktop) {
    font-size: $med;
    font-weight: 600;
    // margin-left: 25px;
  }
}
.sub__title {
  text-align: center;
  flex-grow: 1;
  font-weight: 400;
  font-size: 22px;
  @include media(phone-only) {
    display: none;
  }
  @include media(tablet-portrait) {
    display: none;
  }
  @include media(laptop) {
    display: none;
  }
}
.consultation {
  // display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  @include media(phone-only) {
    display: none;
  }
}
.hero__container {
  .layout {
    P {
      font-weight: 400;
      font-family: $title-font;
      font-size: $lar-title;
      color: $buttonColor;
      @include media(phone-only) {
        font-size: $phn-lar;
        line-height: 1.3;
        font-weight: 500;
      }
      @include media(tablet-portrait) {
        font-size: 65px;
        line-height: 1.3;
        font-weight: 400;
      }
      span {
        position: relative;
        font-weight: bold;
        color: $mainColor;
        img {
          position: absolute;
          bottom: 15px;
          right: 0px;
          width: 90%;
        }
      }
    }
  }
  .short__msg {
    font-size: $med;
    color: $buttonColor;
    width: 650px;
    margin: 40px 0px;
    font-weight: 400;
    font-family: $main-font;
    @include media(phone-only) {
      width: 100%;
      font-size: $phn-med;
      text-align: right;
    }
    @include media(tablet-portrait) {
      width: 100%;
      font-size: $phn-med;
      text-align: left;
      font-weight: 400;
    }
  }
}
.content {
  h3 {
    font-size: $med-title;
    @include media(phone-only) {
      font-size: $med;
    }
  }
  h5 {
    font-size: $sm-title;
    @include media(phone-only) {
      font-size: $sm;
      font-weight: 400;
    }
  }
  article {
    font-size: $phn-med;
    @include media(phone-only) {
      font-size: $phn-sm;
    }
  }
}
.information {
  .info__title {
    font-size: $lar-title;
    font-weight: 500;
    line-height: 1.1;
    @include media(phone-only) {
      font-size: $med-title;
      line-height: 1;
    }
    @include media(tablet-portrait) {
      font-size: $lar;
    }
    strong {
      color: $mainColor;
    }
  }
  .info__subTitle {
    font-size: $sub-title;
    font-weight: 500;
    font-family: $main-font;
    margin: 15px 0px;
    @include media(phone-only) {
      font-size: $phn-med;
      margin: 0px;
      width: 100%;
    }
    @include media(tablet-portrait) {
      font-size: $med;
      font-weight: 400;
      width: 100%;
    }
  }
  .discription {
    p {
      color: $buttonColor;
      font-size: $article;
      @include media(phone-only) {
        font-size: $sm;
      }
    }
  }
}
.solution__container {
  color: $font-main-color;
  .solution__title {
    font-size: $lar-title;
    line-height: 1.1;
    font-weight: 500;
    @include media(phone-only) {
      font-size: 40px;
      line-height: 1;
    }
    @include media(tablet-portrait) {
      font-size: $tab-title;
    }
    strong {
      color: #fff;
    }
    .highlight {
      color: $mainColor;
    }
  }
  .solution__article {
    font-size: $article;
    line-height: 1.2;
    font-weight: 400;
  }
}
.skills__container {
  h3 {
    font-size: $med-title;
    color: $secondaryColor;
    font-weight: 400;
    @include media(tablet-portrait) {
      font-size: $sub-title;
    }
    @include media(phone-only) {
      font-size: $sm;
    }
  }
  p {
    font-size: $phn-med;
    @include media(phone-only) {
      font-size: $phn-sm;
      line-height: 1.4;
    }
  }
}
.recent__title {
  font-size: $med;
  @include media(phone-only) {
    font-weight: 500;
    font-size: $phn-med;
  }
}
.about__container {
  .about__title {
    font-size: $lar;
    line-height: 1.1;
    font-weight: 500;
    @include media(phone-only) {
      font-size: $med-title;
      font-weight: 400;
      line-height: 1.1;
    }
    @include media(tablet-portrait) {
      font-size: $lar;
      font-weight: 400;
      line-height: 1.1;
    }
  }
  .about__subtitle {
    font-size: $med;
    line-height: 1;
    font-weight: 500;
    margin: 20px 0px;
    @include media(phone-only) {
      margin: 15px 0px;
      font-size: $phn-med;
      font-weight: 400;
      line-height: 1.1;
    }
  }
  p {
    font-size: $article;
    font-weight: 400;
  }
  article {
    margin: 20px 0px;
    font-size: $article;
    i {
      font-weight: bold;
    }
  }
}
.faq__title {
  font-size: $lar-title;
  font-weight: 500;
  margin-left: 110px;
  color: $text-color;
  @include media(phone-only) {
    font-size: $med-title;
    margin-left: 20px;
  }
  @include media(tablet-portrait) {
    font-size: $lar;
    margin-left: 60px;
  }
}
.faq__container {
  .panel {
    p {
      margin: 5px 0px;
      span {
        color: blue;
      }
    }
  }
}
.contact__container {
  .contact__title {
    font-size: $lar-title;
      line-height: 1.1;
      font-weight: 400;
      @include media(phone-only) {
        font-size: $med-title;
        font-weight:500;
      }
      @include media(tablet-portrait) {
        font-size: $tab-title;
      }
    strong {
      color: $mainColor;
    }
  }
  .sub__header {
    margin-top: 60px;
    margin-left: 60px;
    font-size: $med;
    @include media(phone-only) {
      margin-top: 40px;
      margin-left: 20px;
      font-size: $phn-med;
    }
    @include media(tablet-portrait) {
      margin-top: 40px;
      margin-left: 40px;
      font-size: $phn-med;
    }
    li {
      strong {
        font-size: $sm-title;
        color: $font-highlight;
        @include media(phone-only){
          font-size: $phn-med;
        }
      }
    }
    a {
      font-weight: bold;
      font-size: $phn-med;
      color: $secondaryColor;
      @include media(phone-only) {
        font-size: $phn-med;
      }
    }
  }
}
